<div class="content">
	<section>
		<div class="post-head">
			<h2>Bacon is the New Chocolate</h2>
			<p class="post-date">2013.05.17</p>
		</div>
		<div class="text">
			<p>Bacon ipsum dolor sit amet venison ham short loin, biltong flank pork belly strip steak meatloaf kielbasa pancetta boudin chicken. Ribeye pancetta pastrami cow kielbasa. Pig flank ground round, pastrami hamburger tongue short loin chicken beef ribs bacon sausage capicola pork. Venison chuck kielbasa short ribs hamburger sirloin frankfurter. Sausage pastrami swine chicken jerky brisket shank pork fatback meatball meatloaf short loin drumstick shankle. Salami shankle ham hamburger doner. Corned beef tongue pastrami pig prosciutto short ribs.</p>

			<p>T-bone turducken ribeye, frankfurter biltong meatloaf venison chuck tail salami pastrami pig. Andouille beef pork belly, capicola pork ribeye drumstick hamburger pig short ribs biltong. Tri-tip ham turkey shoulder ball tip filet mignon t-bone chuck beef ribs brisket shank corned beef pork belly swine kielbasa. Pork loin t-bone frankfurter brisket, capicola salami drumstick turducken prosciutto beef. Frankfurter beef ribs salami biltong ribeye jowl, flank ham turducken. Tongue chuck leberkas chicken prosciutto rump strip steak brisket pork belly. Filet mignon t-bone shank, sirloin pork chop kielbasa pork strip steak salami.</p>
		</div>

	</section>
	<section>
		<div class="post-head">
			<h2>Bacon is the New Chocolate</h2>
			<p class="post-date">2013.05.17</p>
		</div>
		<div class="text">
			<p>Bacon ipsum dolor sit amet venison ham short loin, biltong flank pork belly strip steak meatloaf kielbasa pancetta boudin chicken. Ribeye pancetta pastrami cow kielbasa. Pig flank ground round, pastrami hamburger tongue short loin chicken beef ribs bacon sausage capicola pork. Frankfurter beef ribs salami biltong ribeye jowl, flank ham turducken. Tongue chuck leberkas chicken prosciutto rump strip steak brisket pork belly. Filet mignon t-bone shank, sirloin pork chop kielbasa pork strip steak salami.</p>
		</div>

	</section>
</div>